[project]
	description = The Floor Is Java WPI Suite repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Acstylos
	owner = group user/Thomas Clark (ThomasJClark)
	owner = group user/Yihao Zhou (iihaw)
[access "refs/for/refs/*"]
	read = group TheFloorIsJava
	read = group user/Acstylos
	push = group TheFloorIsJava
	push = group user/Acstylos
	label-Code-Review = -2..+2 group TheFloorIsJava
	label-Code-Review = -2..+2 group user/Acstylos
	label-Verified = -1..+1 group TheFloorIsJava
	label-Verified = -1..+1 group user/Acstylos
	rebase = group TheFloorIsJava
	rebase = group user/Acstylos
	removeReviewer = group TheFloorIsJava
	removeReviewer = group user/Acstylos
	submit = group TheFloorIsJava
	submit = group user/Acstylos
[access "refs/heads/*"]
	read = group TheFloorIsJava
	read = group user/Acstylos
	create = group TheFloorIsJava
	create = group user/Acstylos
	push = group TheFloorIsJava
	push = +force group user/Acstylos
	pushMerge = group TheFloorIsJava
	pushMerge = group user/Acstylos
[access "refs/tags/*"]
	push = group TheFloorIsJava
	push = +force group user/Acstylos
	pushTag = group TheFloorIsJava
	pushTag = group user/Acstylos
	pushSignedTag = group TheFloorIsJava
	pushSignedTag = group user/Acstylos
[access "refs/for/*"]
	read = group TheFloorIsJava
	push = group TheFloorIsJava
	label-Code-Review = -2..+2 group TheFloorIsJava
	label-Verified = -1..+1 group TheFloorIsJava
	rebase = group TheFloorIsJava
	removeReviewer = group TheFloorIsJava
	submit = group TheFloorIsJava
[access "refs/heads/feature/*"]
	read = group TheFloorIsJava
	push = group TheFloorIsJava
	label-Code-Review = -2..+2 group TheFloorIsJava
	label-Verified = -1..+1 group TheFloorIsJava
	rebase = group TheFloorIsJava
	removeReviewer = group TheFloorIsJava
	submit = group TheFloorIsJava
[access "refs/heads/presenterfix"]
	read = group TheFloorIsJava
	push = group TheFloorIsJava
	label-Code-Review = -2..+2 group TheFloorIsJava
	label-Verified = -1..+1 group TheFloorIsJava
	rebase = group TheFloorIsJava
	removeReviewer = group TheFloorIsJava
	submit = group TheFloorIsJava
[access "refs/heads/dev/*"]
	read = group TheFloorIsJava
	read = group user/Acstylos
	read = group user/Thomas Clark (ThomasJClark)
	read = group user/Yihao Zhou (iihaw)
	push = group user/Acstylos
	push = group user/Thomas Clark (ThomasJClark)
	push = group user/Yihao Zhou (iihaw)
	label-Code-Review = -2..+2 group TheFloorIsJava
	label-Code-Review = -2..+2 group user/Acstylos
	label-Code-Review = -2..+2 group user/Thomas Clark (ThomasJClark)
	label-Code-Review = -2..+2 group user/Yihao Zhou (iihaw)
	label-Verified = -1..+1 group TheFloorIsJava
	label-Verified = -1..+1 group user/Acstylos
	label-Verified = -1..+1 group user/Thomas Clark (ThomasJClark)
	label-Verified = -1..+1 group user/Yihao Zhou (iihaw)
	rebase = group user/Acstylos
	rebase = group user/Thomas Clark (ThomasJClark)
	rebase = group user/Yihao Zhou (iihaw)
	removeReviewer = group user/Acstylos
	removeReviewer = group user/Thomas Clark (ThomasJClark)
	removeReviewer = group user/Yihao Zhou (iihaw)
	submit = group user/Acstylos
	submit = group user/Thomas Clark (ThomasJClark)
	submit = group user/Yihao Zhou (iihaw)
[access "refs/heads/hotfix/*"]
	read = group TheFloorIsJava
	push = group TheFloorIsJava
	label-Code-Review = -2..+2 group TheFloorIsJava
	label-Verified = -1..+1 group TheFloorIsJava
	rebase = group TheFloorIsJava
	removeReviewer = group TheFloorIsJava
	submit = group TheFloorIsJava
[access "refs/heads/refactor/*"]
	read = group TheFloorIsJava
	push = group TheFloorIsJava
	label-Code-Review = -2..+2 group TheFloorIsJava
	label-Verified = -1..+1 group TheFloorIsJava
	rebase = group TheFloorIsJava
	removeReviewer = group TheFloorIsJava
	submit = group TheFloorIsJava
