[project]
	description = The Floor Is Java WPI Suite repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Acstylos
[access "refs/for/refs/*"]
	read = group TheFloorIsJava
	read = group user/Acstylos
	push = group TheFloorIsJava
	push = group user/Acstylos
	label-Code-Review = -2..+2 group TheFloorIsJava
	label-Code-Review = -2..+2 group user/Acstylos
	label-Verified = -1..+1 group TheFloorIsJava
	label-Verified = -1..+1 group user/Acstylos
	rebase = group TheFloorIsJava
	rebase = group user/Acstylos
	removeReviewer = group TheFloorIsJava
	removeReviewer = group user/Acstylos
	submit = group TheFloorIsJava
	submit = group user/Acstylos
[access "refs/heads/*"]
	read = group user/Acstylos
	create = group user/Acstylos
	push = +force group user/Acstylos
	pushMerge = group user/Acstylos
[access "refs/tags/*"]
	push = +force group user/Acstylos
	pushTag = group user/Acstylos
	pushSignedTag = group user/Acstylos
